<IfModule mod_rewrite.c>
    RewriteEngine On
    # Redirección interna de /es y /en a /es/index y /en/index respectivamente sin cambiar la URL
    RewriteCond %{REQUEST_URI} ^/(es|en)/?$ [NC]
    RewriteRule ^(es|en)/?$ /%1/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}\.php -f
    RewriteRule ^([^/]+)/?$ $1.php [L]
    RewriteRule ^(en|es)/([^/]+)$ $2.php [L,QSA]
</IfModule>